/*----------------------------------------
Common
-----------------------------------------*/
body{
	background-color: $bg;
	color:$text;
	font-size: 14px;
	min-width: 960px;
	width:100%;
	line-height: 2;
}

.inner{
	width: 100%;
	max-width: 1340px;
	min-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}
a{
	transition: all 0.2s linear;
	color: $link;
	text-decoration: none;
	&:hover{
		opacity: 0.6;
	}
}
header + section{
	margin-top: 0;
}

header{

}
.main{

}
footer{

}